<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disclaimer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #222; /* Dark background */
}

.container2 {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Slightly lighter container for contrast */
    border: 1px solid #555; 
    border-radius: 5px;
    color:#eee;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}
h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}
a{
  color:white;
  text-decoration: none;
}
</style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg t1" style="border-bottom: 1px solid #414041;background-color: rgb(31, 30, 31);">
    <div class="container">
      <a class="navbar-brand" href="/" style="color:white">StockPredictionAi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color:white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/disclaimer" style="color:white;">Disclaimer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal" style="color:white;">Pricing</a>
          </li>
          <li class="nav-item watchlist">
            <a class="nav-link" aria-current="page" href="/watchlist" style="color:white;">Watchlist</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search" action="details" method="GET">
          
          <input class="form-control me-2" type="search" placeholder="Search stocks" aria-label="Search" name="tickername">
          
{% if authen == 0 %}
<button type="button" class="nav-btn btn btn-primary login-logout" data-bs-toggle="modal" data-bs-target="#myModal">
  Login/Signup
</button>
{% else %}
<button type="button" class="nav-btn btn btn-primary logout">
<a href="/signout">Logout</a>
</button>
{% endif %}
<button type="button" class="nav-btn btn btn-primary logout2">
  <a href="/signout">Logout</a>
  </button>
        </form>
        
        
      </div>
    </div>
  </nav>
  <div class="modal fade" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fullscreenModalLabel">Pricing</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 60px;margin-top: 60px;">
            <div class="col">
              <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Basic</h5>
                  <p class="card-text">Free</p>
                  <ul class="card-featues" style="list-style-type: none;">
                    <li>5 Predictions/Day</li>
                    <li>Random 1 Stock Predicion send on Email/Week</li>
                  </ul>
                  <a class="btn btn-success btn-primary selected" id="btn-1">Selected</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Pro</h5>
                  <p class="card-text">$19/month</p>
                  <ul class="card-featues" style="list-style-type: none;">
                    <li>20 Predictions/Day</li>
                    <li>Random 2 Stock Predicion send on Email/Week</li>
                  </ul>
                  <a class="btn btn-primary selected" id="btn-2">Select</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Enterprise</h5>
                  <p class="card-text">$49/month</p>
                  <ul class="card-featues" style="list-style-type: none;">
                    <li>50 Predictions/Day</li>
                    <li>Random 5 Stock Predicion send on Email/Week</li>
                  </ul>
                  <a class="btn btn-primary selected" id="btn-3">Select</a>
                </div>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
    <div class="container2">
        <h1>Disclaimer</h1>
        <h2>1. Informational Purposes Only:</h2>
        <p>The information and predictions provided by this AI tool are for informational purposes only and should not be solely relied upon for making investment decisions. Investing in the stock market inherently involves risks, and past performance is not necessarily indicative of future results.
         </p>
         <h2>2. Disclaimer of Accuracy:</h2>
        <p>This AI tool utilizes various datasets and algorithms to generate predictions. While we strive to maintain the accuracy of the information and predictions, we cannot guarantee their absolute correctness. There is always the possibility of errors, unexpected market fluctuations, and unforeseen circumstances that can impact stock prices.
         </p>
         <h2>3. User Responsibility:</h2>
         <p>You are solely responsible for your investment decisions. We encourage you to conduct your own thorough research, consult with financial advisors, and consider your risk tolerance before making any investment decisions based on the information or predictions provided by this AI tool.</p>
    <h2>4. Limitation of Liability:</h2>
    <p>We are not liable for any losses or damages arising from your reliance on the information or predictions generated by this AI tool. It is your responsibility to understand the risks involved in stock market trading and to make informed decisions based on your individual circumstances.</p>
    <h2>5. Continuous Learning:</h2>
    <p>This AI tool is continuously learning and evolving based on new data and market trends. We strive to improve its accuracy and reliability over time. However, it is important to remember that AI predictions are not guarantees of future performance.</p>
        </div>

        


        

  <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted pt-1">
    <!-- Section: Social media -->
  
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              StockPredictionAi
            </h6>
            <p>
              See the Future of Finance: AI-Powered Stock Predictions
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
         
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Home</a>
            </p>
            <p>
              <a href="/disclaimer" class="text-reset">Disclaimer</a>
            </p>
            <p>
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Mumbai, India</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@stockpredictionai.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 98197 39170</p>
            <p><i class="fas fa-print me-3"></i> + 91 98197 39170</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="#">StockPredictionAi.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  
  
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Welcome back!</h5>
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Login</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-signup-tab" data-bs-toggle="pill" data-bs-target="#pills-signup" type="button" role="tab" aria-controls="pills-signup" aria-selected="false">Signup</button>
            </li>
          </ul>
        </div>
        <div class="modal-body">
          
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
              <form>
               
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Username</label>
                  <input type="text" class="form-control emailinput" id="exampleFormControlInput1" placeholder="Username" name="email">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Password</label>
                  <input type="password" class="form-control passwordinput" id="exampleFormControlInput1" placeholder="Password" name="password">
                </div>
                
                <div class="alert alert-danger" role="alert">
                  This is a danger alert—check it out!
                </div>
                <div class="alert alert-success" role="alert">
                  Login Success
                </div>
                <button type="button" class="btn btn-primary" id="b1" style="width: 100%;">Login</button>
              </form>
            </div>
            <div class="tab-pane fade" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
              <form>
             
                <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control signupusername" id="exampleFormControlInput1" placeholder="username" name="username">
              </div>
                
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Password</label>
                  <input type="password" class="form-control signuppassword" id="exampleFormControlInput1" placeholder="Password" name="password">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control signupconfirmpassword" id="exampleFormControlInput1" placeholder="Confirm Password" name="confirmpassword">
                </div>
                
                <div class="alert alert-danger" role="alert">
                  This is a danger alert—check it out!
                </div>
                <div class="alert alert-success" role="alert">
                  Signin Success
                </div>
                <button type="button" id="b2" class="btn btn-primary" style="width: 100%;">
                Signup</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  {% for message in messages %}
    <script>
      alert('{{ message }}');
    </script>
  {% endfor %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script async src="https://pay.google.com/gp/p/js/pay.js" onload="onGooglePayLoaded()"></script>
  <script>
    $(document).ready(function () {
      const baseRequest = {
  apiVersion: 2,
  apiVersionMinor: 0
};
      function onGooglePayLoaded(){
        const googlePayClient = 
        new google.payments.api.PaymentsClient({
          environment:'TEST'
        });
      }
       
        $(".alert-danger").hide();  
      $(".alert-success").hide();
      // $(".logout").hide();
      $(".logout2").hide()
      $('.loginbutton').click()
      $('.nav-pills a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
      function timeout(){
      setTimeout(() => {
    const loader = document.querySelector('.loader');
    loader.style.display = 'none'; // Hide the loader after simulation
  }, 2000);
  }
  timeout();
  var plan_selected_from_server = "{{planselected}}";
// alert(plan_selected_from_server);
if(plan_selected_from_server == "Basic"){
$(".selected").removeClass("btn-success");
$(".selected").text("select");
$("#btn-1").addClass("btn-success");
$("#btn-1").text("Selected");
}
else if(plan_selected_from_server == "Pro"){
  $(".selected").removeClass("btn-success");
$(".selected").text("select");
$("#btn-2").addClass("btn-success");
$("#btn-2").text("Selected");
}
else if(plan_selected_from_server == "Enterprise"){
  $(".selected").removeClass("btn-success");
$(".selected").text("select");
$("#btn-3").addClass("btn-success");
$("#btn-3").text("Selected");
}else{
  $(".selected").removeClass("btn-success");
  $(".selected").text("select");
}




$(".selected").click(function(){
  var planselect = "";
  var buttonId = this.id;
  if(this.id == "btn-1"){
    // alert(this.id);
    planselect = "Basic";
  }
  if(this.id == "btn-2"){
    // alert(this.id);
    planselect = "Pro";
  }
  if(this.id == "btn-3"){
    // alert(this.id);
    planselect = "Enterprise";
  }

  $.ajax({
        url:'/selectPlan',
        type:'get',
        data:{
          plan:planselect
        },
        success: function(response){
          if(response.status == "ok"){
           alert(response.message);
          //  alert(buttonId);
          $(".selected").removeClass("btn-success").addClass("btn-primary");
          $(".selected").text("select");
           $("#"+buttonId).removeClass("btn-primary").addClass("btn-success !important");
           $("#"+buttonId).text("Selected");

          }else{
            alert(response.status);
          }
         
          // alert(response.message);

          
        }
      });    

  });




  
      $("#b1").click(function(){
        var email = $('.emailinput').val();
        var password = $('.passwordinput').val();
        // alert(data);
        $(".alert-danger").hide(); 
        $.ajax({
          url:'/index',
          type:'get',
          data:{
            email: email,
            password:password
          },
          success: function(response){
            if(response.message == "no"){
               $(".alert-danger").show();
               $(".alert-danger").text("Wrong Uername or Password");
            }else{
              $(".alert-success").show();
              
              setTimeout(function() {$('#myModal').modal('hide');}, 2000);
              var plan_selected_from_server = response.planselected;
// alert(plan_selected_from_server);
if(plan_selected_from_server == "Basic"){
$(".selected").removeClass("btn-success");
$(".selected").text("select");
$("#btn-1").addClass("btn-success");
$("#btn-1").text("Selected");
}
else if(plan_selected_from_server == "Pro"){
  $(".selected").removeClass("btn-success");
$(".selected").text("select");
$("#btn-2").addClass("btn-success");
$("#btn-2").text("Selected");
}
else if(plan_selected_from_server == "Enterprise"){
  $(".selected").removeClass("btn-success");
$(".selected").text("select");
$("#btn-3").addClass("btn-success");
$("#btn-3").text("Selected");
}else{
  $(".selected").removeClass("btn-success");
  $(".selected").text("select");
}

            //   authen = response.message;
            // $(".login-logout").html('Logout');
            $(".login-logout").hide();
            $(".logout2").show();
            }
           
            // alert(response.message);
  
            
          }
        });    
  
    });
  
  
    $("#b2").click(function(){
        var username = $('.signupusername').val();
        var password = $('.signuppassword').val();
        var confirmpassword = $('.signupconfirmpassword').val();
        if(password != confirmpassword){
          $(".alert-danger").show();
          $(".alert-danger").text("Password and confirm password doesnt match");
          return;
        }
        // alert(data);
        $(".alert-danger").hide(); 
        $.ajax({
          url:'/index',
          type:'get',
          data:{
            email: username,
            password:password,
            confirmpassword:confirmpassword
          },
          success: function(response){
            if(response.status == "no"){
            $(".alert-danger").show();
            $(".alert-danger").text(response.message);
            }else{
              $(".alert-success").show();
        
              setTimeout(function() {$('#myModal').modal('hide');}, 2000);
              $(".selected").text("select");
            $("#btn-1").addClass("btn-success");
            $("#btn-1").text("Selected");
            //   authen = response.message;
            // $(".login-logout").html('Logout');
            $(".login-logout").hide();
            $(".logout2").show();
            }
           
            // alert(response.message);
  
            
          }
        });    
  
    });
  
  });

  </script>
</body>
</html>