<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><img src="https://lottie.host/embed/d8a14ae8-47cb-4aa7-9f08-e16ac7ae7e65/Et3EhL9fpr.json" alt="">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/d8a14ae8-47cb-4aa7-9f08-e16ac7ae7e65/Et3EhL9fpr.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>


</body>
</html>